
@import url('https://fonts.googleapis.com/css2?Open+Sans&display=swap');

:root{
  --primary:#ffbe0b;
  /* --primary:white; */
  --secondary:#15223e ;
  --primary-bg-color: #edede9 ;
  
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.wrapper{
  width: 100%;
  max-width: 1440px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 auto;
}
.btn{
  background-color: var(--primary);
  border-radius: 5px;
  padding: 10px 25px;
  color: var(--secondary);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

}
.btn:hover{
  background-color: var(--secondary);
  color: var(--primary);
}
span{
  color: var(--primary);
  /* overflow-x: hidden; */
}
a{
  text-decoration: none;
  color: var(--primary);

}
a:hover{

  color: var(--primary);

}